<section>
  <ul id="gallery">
      <li>
          <a href="../assets/img/cenart_portada.jpg">
              <img src="../assets/img/cenart_portada.jpg" alt="">
              <p>CNA</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/ollin.jpg">
              <img src="../assets/img/ollin.jpg" alt="">
              <p>Ollin Yoliztli</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/orquesta-sinfonica-de-mineria.jpg">
              <img src="../assets/img/orquesta-sinfonica-de-mineria.jpg" alt="">
              <p>Orquesta Sinfónica de Minería</p>
          </a>
      </li>
      <li>
          <a href="../assets/img/sala-neza.jpg">
              <img src="../assets/img/sala-neza.jpg" alt="">
              <p>Sala Nezahualcóyotl</p>
          </a>
      </li>
  </ul>
</section>