<section>
  <ul id="gallery">
      <li>
          <a href="../assets/img/5.jpg">
              <img src="../assets/img/5.jpg" alt="">
              <p></p>
          </a>
      </li>
      <li>
          <a href="../assets/img/6.jpg">
              <img src="../assets/img/6.jpg" alt="">
              <p></p>
          </a>
      </li>
      <li>
          <a href="../assets/img/7.jpg">
              <img src="../assets/img/7.jpg" alt="">
              <p></p>
          </a>
      </li>
      <li>
          <a href="../assets/img/7.jpg">
              <img src="../assets/img/7.jpg" alt="">
              <p></p>
          </a>
      </li>
  </ul>
</section>