/*******************************************
******************GENERAL*******************
*******************************************/
body {
    font-family: 'Roboto Mono', monospace;
}

img {
    max-width: 100%;
}

#wrapper {
    max-width: 940px; /*Indica el máximo tamaño del ancho*/
    margin: 0 auto; /*Margen arriba y abajo 0, izquierda derecha auto*/
    padding: 0 5%; /*Un valor= todo, dos=uno arr-ab, otro izq-der, cuatro valores= todos los lados separado*/
}

a {
    text-decoration: none; /*quita el subrayado a la liga contenida en la etiqueta a*/
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;

}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

ul {
    display: inline-block;
}

/******************************************
****************HEADING********************
******************************************/

#logo {
    text-align: center;
    margin: 0;
    font-family: 'Eater', cursive;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    margin: 15px 0;
    font-size: 2.25em;
    font-weight: normal;
    line-height: 0.8em;
    color: #fff;
}

/***************************************
***********NAVIGATION*******************
***************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

/***************************************
*****************FOOTER*****************
***************************************/

footer {
    font-size: 1.25em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;

}

/***************************************
*****************COLOR******************
***************************************/

body {
    background-color: #fff;
    color: #999;
}

header {
    background: #6ab47b;
    border-color: #599a68;
}

h1, h2 {
    color: #fff;
}

nav {
    background: #599a68;
}

nav a, nav a:visited {
    color: blue;
}

nav a.selected, nav a:hover {
    color: #32673f
}

a {
    color: #6ab47b;
}

/******************************
************GALLERY************
******************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background: #f5f5f5;
    color: #bdc3c7;
}